<div class="card">
	<div class="flex justify-between items-center mb-6">
		<div class="font-semibold text-xl">Best Selling Products</div>
		<div>
			<p-button
				type="button"
				icon="pi pi-ellipsis-v"
				[rounded]="true"
				[text]="true"
				severity="secondary"
				(onClick)="toggleMenu($event)"
			/>
			<p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
		</div>
	</div>
	<ul class="list-none p-0 m-0">
		@for (product of bestSellers; track product.name) {
			<li class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
				<div>
					<span class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0">{{
						product.name
					}}</span>
					<div class="mt-1 text-muted-color">{{ product.category }}</div>
				</div>
				<div class="mt-2 md:mt-0 ml-0 md:ml-20 flex items-center">
					<div
						class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24"
						style="height: 8px"
					>
						<div class="h-full" [class]="product.barColor" [style.width.%]="product.percent"></div>
					</div>
					<span class="ml-4 font-medium" [class]="product.textColor">{{ product.percent }}%</span>
				</div>
			</li>
		}
	</ul>
</div>
