<div class="card">
	<div class="flex items-center justify-between mb-6">
		<div class="font-semibold text-xl">Notifications</div>
		<div>
			<p-button
				type="button"
				icon="pi pi-ellipsis-v"
				[rounded]="true"
				[text]="true"
				severity="secondary"
				(onClick)="toggleMenu($event)"
			/>
			<p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
		</div>
	</div>

	@for (group of groups; track group.heading; let last = $last) {
		<span class="block text-muted-color font-medium mb-4">{{ group.heading }}</span>
		<ul class="p-0 mx-0 mt-0 list-none" [class.mb-6]="!last">
			@for (item of group.items; track item.message; let lastItem = $last) {
				<li class="flex items-center py-2" [class.border-b]="!lastItem" [class.border-surface]="!lastItem">
					<div
						class="w-12 h-12 flex items-center justify-center rounded-full mr-4 shrink-0"
						[class]="item.iconBg"
					>
						<i class="text-xl!" [class]="[item.icon, item.iconColor]"></i>
					</div>
					<span class="text-surface-900 dark:text-surface-0 leading-normal">
						@if (item.name) {
							{{ item.name }}
						}
						<span class="text-surface-700 dark:text-surface-100">
							{{ item.message }}
							@if (item.highlight) {
								<span class="text-primary font-bold">{{ item.highlight }}</span>
							}
						</span>
					</span>
				</li>
			}
		</ul>
	}
</div>
