<div class="flex flex-col gap-4">
	<div>
		<span class="text-sm text-muted-color font-semibold">Primary</span>
		<div class="pt-2 flex gap-2 flex-wrap justify-start">
			@for (color of primaryColors(); track color.name) {
				<button
					type="button"
					[title]="color.name"
					(click)="onPrimaryChange(color)"
					[class.outline]="color.name === selectedPrimaryColor()"
					[class.outline-primary]="color.name === selectedPrimaryColor()"
					class="cursor-pointer w-5 h-5 rounded-full flex shrink-0 items-center justify-center outline-offset-1 shadow"
					[style.background-color]="color.palette['500']"
				></button>
			}
		</div>
	</div>
	<div>
		<span class="text-sm text-muted-color font-semibold">Surface</span>
		<div class="pt-2 flex gap-2 flex-wrap justify-start">
			@for (surface of surfaces; track surface.name) {
				<button
					type="button"
					[title]="surface.name"
					(click)="onSurfaceChange(surface)"
					[class.outline]="surface.name === selectedSurfaceColor()"
					[class.outline-primary]="surface.name === selectedSurfaceColor()"
					class="cursor-pointer w-5 h-5 rounded-full flex shrink-0 items-center justify-center p-0 outline-offset-1"
					[style.background-color]="surface.palette['500']"
				></button>
			}
		</div>
	</div>
	<div class="flex flex-col gap-2">
		<span class="text-sm text-muted-color font-semibold">Presets</span>
		<div pSelectButton [value]="selectedPreset()" class="flex" size="small">
			@for (preset of presets; track preset) {
				<button
					type="button"
					pSelectButtonOption
					[value]="preset"
					(click)="onPresetChange(preset)"
				>
					{{ preset }}
				</button>
			}
		</div>
	</div>
	<div class="flex flex-col gap-2">
		<span class="text-sm text-muted-color font-semibold">Menu Mode</span>
		<div pSelectButton [value]="menuMode()" class="flex" size="small">
			@for (option of menuModeOptions; track option.value) {
				<button
					type="button"
					pSelectButtonOption
					[value]="option.value"
					(click)="onMenuModeChange(option.value)"
				>
					{{ option.label }}
				</button>
			}
		</div>
	</div>
</div>
